/* ===========================================
   Main
   =========================================== */

/* top */



#main_top {
   padding: 30px 15px 0 15px;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */

#main_bottom {
   padding: 30px 15px 0 15px;
}

iframe {
   border: none;
}
#bottom_content{
   display: flex;
   justify-content: space-between;
}

#bottom_content .maps.right{
   width: 55%;
}
/* form */

form label {
   font-size: 16px;
   font-style: italic;
   width: 15%;
}
form p{
   display: flex;
   justify-content: space-between;
   margin-right: 20px;
}


form input {
   padding-left: 50px;
   padding-right: 50px;
   padding: 7px;
   width: 75%;
   
}
form textarea{
   margin-left: 50px;
   width: 350px;
   
}
form{
   width: 480px;
}

#inpMessage {
   height: 100px;
}












