/* ===========================================
   Banner
   =========================================== */

#banner {
   background-image: url(../img/banner.jpg);
   background-size: cover;
}

.banner_box {
   padding: 120px 0 60px 0;
}

.banner_box .btn-cta {
   font-size: 18px;
   padding: 14px 60px;
}

.banner_box p {
   color: white;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
}

/* ===========================================
      Main
      =========================================== */
h1 {
   padding-left: 250px;
}

.logo p {
   padding-left: 343px;
}

header .wrapper {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 15px 0px;
}

header .wrapper ul {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 5px 0px 0px 270px;
}

header .wrapper li {
   margin: 22px;
}

nav ul {
   display: flex;
   justify-content: space-around;

}

main {
   display: flex;
}

.banner_box {
   padding-left: 280px;
}





/* left */

.left {
   padding: 30px 15px 0 15px;
   width: 640px;
   max-width: 40%;
   display: block;
}

.left p {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

#gallery a{
   margin: 35px 0;
   max-width: 40%;
   display: flex;
   flex-wrap: nowrap;
}


/* right */

.right {
   padding: 30px 15px 0 255px;
   max-width: 60%;  
}

.right img {
   max-width: 23%;
}

.right h3 a {
   color: #333;
   border-bottom: 1px solid #cccccc;
}

.right h3 a:hover {
   color: #be0a35;
   text-decoration: none;
}