/* ===========================================
   Banner
   =========================================== */

#banner {
   background-image: url(../img/banner.jpg) ;
}

.banner_box {
   padding: 120px 0 60px 0;
}

.banner_box .btn-cta {
   font-size: 18px;
   padding: 14px 60px;
}

.banner_box p {
   color: white;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
}

/* ===========================================
      Main
      =========================================== */
h1 {
   padding-left: 250px;
}
.logo p {
   padding-left: 343px;
}

header {
   display: flex;
   flex-wrap: nowrap;
}

nav ul {
   display: flex;
   justify-content: space-around;

}

main {
   display: flex;
}

.banner_box {
   padding-left: 280px;
}




/* left */

.left {
   padding: 30px 15px 0 15px;
   width: 640px;
}
.left p {
   display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#gallery {
   margin: 35px 0;
}

/* right */

.right {
   padding: 30px 15px 0 255px;
}
.right img {
   max-width: 23%;
}

.right h3 a {
   color: #333;
   border-bottom: 1px solid #cccccc;
}

.right h3 a:hover {
   color: #be0a35;
   text-decoration: none;
}