/*hoofdpagina*/

main {
    padding-top: 60px;
}


nav ul {
    margin: 25px;
}

nav a {
    padding: 16px;
}

#slogan {
    padding: 10px;
}

#einstein {
    margin-bottom: -97px;
    padding-right: 32px;
}


/*4 buttons op het kant*/

h4 {
    margin: 12px 0px;
}



#social {
    padding-bottom: 55px;
}

header {
    border-bottom: 60px solid #e0dddd;
    padding-bottom: 100px;
}



p {
    padding-bottom: 15px;
    padding: 10px;
}

#social li {
    margin-bottom: 10px;
    padding: 10px 20px 20px 85px;
}



.button {
    margin-bottom: 35px;
}

.button a {
    padding: 5px 10px;
}

footer li {
    border-bottom: 1px solid rgb(196, 195, 195);
}




