* {
    box-sizing: border-box;
}

body {
    background-color: rgb(126, 244, 16);
    font-family: sans-serif;
}

caption {
    margin: 5em 0;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    box-shadow: rgb(210, 37, 14) 5px 5px 5px;
}

td,
th {
    background-color: #aaa1a1;
    border: solid #ccc 1px;
    padding: 0 0.5em;
}

td,
th {
    width: 10em;
}

td + td, 
th + th {
    width: 5em;
}

td + td + td, 
th + th + th {
    width: 3em;
}

td {
    background-color: rgb(11, 51, 247);
    text-align: center;
    white-space: nowrap;
}

tbody td:nth-child(1) img {
    width: 1.5em;
}

tbody td:nth-child(2) {
    text-align: left;
}

td:empty {
    background-color: rgb(173, 26, 26);
}