
form label {
    font-size: 16px;
    font-style: italic;
    width: 15%;
 }
 
 form .par__form {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
 }
 
 
 form input {
    padding-left: 50px;
    padding-right: 50px;
    padding: 7px;
    width: 75%;
 
 }
 
 form textarea {
    margin-left: 50px;
    width: 350px;
 
 }
 
 form {
    width: 480px;
 }
 
 #inpMessage {
    height: 100px;
 }