img {
    border: 0;
    max-width: 100%;
    width: 80%;
 }
 
 body {
    background-color: #f5f5f5;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.4;
 }
 
 
 
 /* elements */
 
 h1, h2, h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 }
 
 h2 {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
 }
 
 h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
 }
 
 p {
    margin-bottom: 20px;
 }
 
 a {
    color: #17a348;
    text-decoration: none;
 }
 
 a:hover {
    color: #14833b;
    text-decoration: underline;
 }

 
 /*parameters*/ 
 * {
    box-sizing: border-box;
    /* width and height include paddings and borders */
    margin: 0;
    /* wipe out browser differences */
    padding: 0;
    /* wipe out browser differences */
 }
 html {
    background-color: lightgray;
 }
 
 main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
 }
 